* {
  font-weight: 400;
  font-size: inherit;
  font-family: 'Sofia Sans', sans-serif;
  color: var(--dark);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--light);
}

.header {
  font-weight: 700;
}

.heavy {
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

.gradient-light {
  background: rgb(241,224,205);
  background: linear-gradient(180deg, rgba(246,232,218,1) 0%, rgba(252,244,236,1) 100%);
}
.gradient-accent {
  background: rgb(225,92,18);
  background: linear-gradient(90deg, rgba(225,92,18,1) 0%, rgba(161,124,220,1) 100%);
}
.gradient-accent-muted {
  background: rgb(212,194,160);
  background: linear-gradient(135deg, rgba(212,194,160,1) 0%, rgba(208,215,238,1) 100%);
}