* {
  font-weight: 400;
  font-size: inherit;
  font-family: 'Martel Sans', sans-serif;
  color: var(--fg);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: 'var(--white)';
}

h1 {
  font-family: 'Bungee', cursive;
}

.headerFont {
  font-family: 'Bungee', cursive;
}
.heavyFont {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0px;
}


a {
  text-decoration: none;
  color: var(--fg-muted);
}
a:hover {
  color: var(--fg);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.025); }