* {
  font-weight: 400;
  font-size: inherit;
  font-family: 'Sofia Sans', sans-serif;
  color: var(--dark);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--light);
  scrollbar-color: var(--secondary) var(--primary);
}

.header {
  font-weight: 700;
}

.heavy {
  font-weight: 900;
}

span, b, strong, i, em, mark, small, del, ins, sub, sup, s {
  color: inherit;
  font-family: inherit;
  margin: inherit;
  padding: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

.gradient-light {
  background: rgb(241,224,205);
  background: linear-gradient(180deg, var(--gradient-light-start) 0%, var(--gradient-light-stop) 100%);
}
.gradient-accent {
  background: rgb(225,92,18);
  background: linear-gradient(90deg, rgba(225,92,18,1) 0%, rgba(161,124,220,1) 100%);
}
.gradient-accent-muted {
  background: rgb(212,194,160);
  background: linear-gradient(135deg, rgba(212,194,160,1) 0%, rgba(208,215,238,1) 100%);
}