:root {
  --nav-height: 70px;
  --white: #FFFFFF;
  --primary: #E4B14E;
  --secondary: #E15C12;
  --tretiary: #A17CDC;
  --success: #2C9636;
  --danger: #962C2C;
  --dark: #252525;
  --light: #fefaf6;
  --muted: #666666;
  --modal: #fcf4ec;
  
  --gradient-light-start: rgba(246,232,218,1);
  --gradient-light-stop: rgba(252,244,236,1);
}

/*
[data-theme="dark"] {
}

[data-theme="light"] {
}
*/