:root {
  --nav-height: 70px;
  --white: #FFFFFF;
  --primary: #E4B14E;
  --secondary: #E15C12;
  --tretiary: #A17CDC;
  --success: #2C9636;
  --danger: #962C2C;
  --dark: #252525;
  --light: #F4F3F3;
  --muted: #666666;
  --modal: #F1E0CD;
}

/*
[data-theme="dark"] {
}

[data-theme="light"] {
}
*/